@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.location > h5 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-bottom: 6px;
  font-size: 18px;
}

.location > p {
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
}

.vertical-line {
  height: 55px;
  border-left: 2px solid #f2f2f2;
}

.search-div {
  padding: 0px 12px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  background: rgb(248, 248, 248);
  color: rgb(130, 130, 130);
}

.search-div > input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 40vw;
  height: 45px;
}

::placeholder {
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.my-cart {
  background-color: #0d831e !important;
  font-size: 14px !important;
  align-items: center;
  justify-content: center;
}

.my-cart > svg {
  width: 20px;
  height: 25px;
}

.my-categories {
  width: 85%;
}

.container,
.my-container {
  margin: auto;
  width: 85%;
  overflow: auto;
}

.container > h2 {
  padding-inline: 25px;
}

.my-list {
  display: flex;
  width: min-content;
  white-space: nowrap;
  padding-bottom: 10px;
}

.my-list > img {
  padding-inline: 10px;
}

::-webkit-scrollbar {
  display: scroll;
}

.my-card {
  width: 179px;
  margin-inline: 10px;
}

.my-card-time {
  width: fit-content;
  border-radius: 4px;
  background-color: rgb(248, 248, 248);
  padding: 0px 4px;
  font-weight: 700;
  font-size: 9px;
  color: rgb(54, 54, 54);
}

.my-card-title {
  color: rgb(31, 31, 31);
  font-weight: 600;
  font-size: 13px;
  overflow: hidden;
}

.my-card-weight {
  color: #666666;
  font-size: 13px;
}

.card-price {
  color: rgb(31, 31, 31);
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
}

.mrp {
  color: #666666;
  font-size: 12px;
}

.category-section-row {
  width: 100%;
  z-index: -1;
  overflow-y: hidden;
}

.my-container {
  width: 76%;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column !important;
  }

  .vertical-line,
  .hero-section > img {
    display: none !important;
  }

  .nav-btns,
  .search-div {
    width: 80%;
  }

  .container,
  .my-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1260px) {
  .my-categories {
    width: 40px;
    height: 40px;
    border-top-width: 3px;
    border-width: 3px;
  }
}
